.dashboard {
  padding: 2rem 1.5rem;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 2rem;
  gap: 1.5rem;
}
.show-more__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
@media (max-width: 576px) {
  .courses {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
