.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.75rem;
}
.header__menu--item {
  flex: 1;
  align-items: center;
  display: flex;
}
.hearder__logo {
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu--link {
  color: #fff;
  font-weight: 400;
  margin-right: 3rem;
}
.header__menu--link:hover {
  text-decoration: underline;
}
.header__hamburguer {
  display: none;
}

@media (max-width: 576px) {
  .header__menu--link,
  .header__get-started {
    display: none;
  }
  .header__hamburguer {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    margin-right: 1.125rem;
  }
}
