.button--primary {
  background: #ffd74f;
  border-radius: 4px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  color: #744ff4;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}
.button--primary:hover, .button--primary:focus {
  filter: brightness(0.96);
}
