html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@import url("./Container.css");
@import url("./Typography.css");
@import url("./Buttons.css");
@import url("./Inputs.css");
